fastapi
uvicorn[standard]
beanie
motor
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
langchain
pinecone
langchain-groq
langchain-google-genai
bcrypt==4.0.1
google-genai
langgraph
langchain-mongodb
langgraph-checkpoint-mongodb
jsonpatch
httpx
PyMuPDF
langchain-text-splitters  
 